[submodule "libs/libtinyiiod"]
	path = libs/libtinyiiod
	url = https://github.com/analogdevicesinc/libtinyiiod
	branch=master
[submodule "libs/no-OS"]
	path = libs/no-OS
	url = https://github.com/analogdevicesinc/no-OS
	branch=master
