[submodule "no-OS"]
	path = libs/no-OS
	url = https://github.com/analogdevicesinc/no-OS/
	branch = master
[submodule "libtinyiiod"]
	path = libs/libtinyiiod
	url = https://github.com/analogdevicesinc/libtinyiiod
	branch = master
