[submodule "libs/adi_libs/no-OS"]
	path = libs/adi_libs/no-OS
	url = https://github.com/analogdevicesinc/no-OS/
[submodule "libs/adi_libs/libtinyiiod"]
	path = libs/adi_libs/libtinyiiod
	url = https://github.com/analogdevicesinc/libtinyiiod
